/* colour: https://coolors.co/7785ac-2a2d34-fff7f8-ee4b6a-36393b */
/*alt 1: https://coolors.co/009fb7-2a2d34-fff7f8-b23a48-36393b */
/*alt3: https://coolors.co/1e1e24-ff101f-fff8f0-4f759b-00a7e1 */
/*alt4: https://coolors.co/ff8c42-a3333d-232c33-ffffff */

/* :root {
	--colour-fade: hsl(349, 83%, 61%);
	--colour-blossom: hsl(224, 24%, 57%); accessible below
	--colour-blossom: hsl(254.2, 43.2%, 57.1%);
	--colour-bg-alt:hsl(353 30% 95% / 1);
	--colour-bg:hsl(0, 0%, 100%);
	--colour-bg-alt: hsl(353, 100%, 98%);
	--colour-text: hsl(204, 4%, 22%);
	--colour-visited: hsl(from var(--colour-blossom) h s calc(l - 10%));
} */


:root {
	--colour-blossom: hsl(355, 52%, 42%);
	--colour-fade: hsl(23, 100%, 63%);
	--colour-bg: hsl(0, 0%, 100%);
	--colour-text: hsl(206, 19%, 17%);
	--colour-bg-alt: hsl(0deg 0% 96%);
	--colour-visited: hsl(from var(--colour-blossom) h s calc(l - 10%));
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --colour-fade: hsl(355, 52%, 42%); */
		--colour-fade: hsla(273, 100%, 63%, 0.817);
		/* --colour-blossom: hsl(23, 100%, 63%); */
		--colour-blossom: hsl(273, 100%, 63%);
		--colour-text: hsl(0, 0%, 100%);
		--colour-bg: rgb(26, 26, 26);
		--colour-bg-alt: rgb(46, 42, 42);
		--colour-visited: hsl(from var(--colour-blossom) h s calc(l - 10%));
	}
}

html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
		'Arial', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Segoe UI',
		sans-serif;
}

h5 {
	font-weight: 200;
}

p {
	font-weight: 300;
}

a {
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

blockquote {
	font-weight: 300;
}

body {
	font-family: 'lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header > #logo line,
header > #logo polyline,
header > #logo path {
	stroke: var(--colour-text) !important;
}

.h1, .h6 {
	font-family: 'forma-djr-banner', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	color: var(--colour-text) !important;
}

.h2, .h5{
	font-family: 'forma-djr-banner', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 200;
}
.top-highlight {
	font-size: 2rem;
	margin-bottom: -1.5rem;
	font-family: 'forma-djr-banner', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	color: var(--colour-blossom);
}

.footer {
	font-size: 0.9em;
	display: flex;
}

.mini_headings {
	font-size: 0.9em;
	font-weight: bold;
}

.publish_time {
	padding: 1rem 0rem;
	width: 100%;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 500;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}

.subtitle {
	margin-top: -0.5rem;
	letter-spacing: 0.8px;
}

.subtitle > i {
	font-size: 80%;
	margin-left: 0.5rem;
	margin-right: 0.2rem;
}

.muted {
	opacity: 0.7;
	font-weight: 200;
}
