//https://coolors.co/e71d36-ff9f1c-006992-30c5ff-0e0f19;
//OR
//https://coolors.co/e71d36-ebd4cb-006992-30c5ff-0e0f19;
//OR
//https://coolors.co/f6e8ea-ef626c-006992-30c5ff-0e0f19


//https://coolors.co/fff4ec-ef626c-e7cfbc-393e41-44bba4

//https://coolors.co/fff4ec-5ca4a9-e7cfbc-393e41-df2935
$dark: #393e41;
$light: #FFF4EC;
$primary: #FB4D3D;
$primary-highlight: #8390FA;
$secondary: #8CA0D7;
