@import '../../styles/__colours';
@import '../../styles/__breakpoints';

.header{
    a{
        font-weight: 700;
        text-decoration: none;
        font-family: 'forma-djr-banner',sans-serif;
        color: $primary;
        opacity: 1;
        transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1.6s;
        &:hover{
            opacity: 0.7;
        }
    }
    // background-color: darken($color: $primary-highlight, $amount: 10%);
    width: 100%; //temp.
    background-color: $dark;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    
    &__content{
        justify-self: flex-end;
    }
    &__emotes{
        justify-self: end;
        font-size: 4rem;
    }
    &__links{
        display: flex;
        flex-direction: row;
        :not(:first-child){
            margin-left: 1rem;
        }
    }
}