@import '../../styles/_colours';

.page {
  height: 100%;
  background-color: $dark;
  color: $light;
  display: flex;
  &__footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 3rem;
    padding-left: 1rem;
  }
  h1{
     font-family: 'forma-djr-banner',sans-serif;
  }
  h3 {
    letter-spacing: .3px;
    font-family: 'forma-djr-banner',sans-serif;
    font-weight: 300;
  }
}